<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>
    <body>
       <center>
         <h3>Log In</h3>
         <br>
         <form action="/auth">
           Username
           <input type = "text" name="name">
           <br>
           Password
           <input type= "password" name="pass">
           <br>
           <input type = "submit" name="sub">
         </form>
       </center>
    </body>
</html>

<!-- request.headers
HTML headers from client browser
request.method
  GET or POST
request.args
  arguments, as a querystring from GET request
  immutable dictionary
request.form
  arguments sent via POST request
  immutable dictionary -->
