<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{titulo}}</title>
  </head>
  <body>
    <center>
      <h2>Team Gold Introduction</h2>
      <h4>Roster: Jeff Lin & Manfred Tan</h4>
      Random Occupation: {{ job }} <br>
      <table>
        <tr>
          <th>Occupation</th>
          <th>Percentage</th>
        </tr>
        {% for index in lengthnum %}
          <tr>
            <td>{{col1[index]}}</td>
            <td>{{col2[index]}}</td>
          </tr>
        {% endfor %}
      </table>
      <br>
    </center>
  </body>
</html>
