<!DOCTYPE html>
<html>
    <head>
        <title>Team Coconut Water</title>
    </head>
    <body>
       <Center>
         <h1>Team Coconut Water</h1>
         <h3>Derek Leung and Jeff Lin</h3>
         Put your full name here!
         <br>
         <form action="/auth">
           <input type = "text" name="name">
           <br>
           <input type = "submit" name="sub">
         </form>
       </Center>
    </body>
</html>

<!-- request.headers
HTML headers from client browser
request.method
  GET or POST
request.args
  arguments, as a querystring from GET request
  immutable dictionary
request.form
  arguments sent via POST request
  immutable dictionary -->
